{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "max-len": ["warn", 120],
    "indent": ["warn", 2],
    "no-useless-constructor": ["off"],
    "import/extensions": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "react/jsx-indent": ["warn", 2],
    "react/prefer-stateless-function": ["off"],
    "react/jsx-first-prop-new-line": ["off"],
    "react/jsx-indent-props": ["warn", 2],
    "react/prop-types": ["off"],
    "react/sort-comp": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-closing-brackets-location": ["off"],
    "jsx-a11y/img-has-alt": ["off"],
    "no-underscore-dangle": ["off"],
  },
  "globals": {
    "localStorage": true
  }
}
