body {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  background: #55A4CF;
  color: #DEF2FD;
}

a, a:hover {
  color: #FFBFAD;
}


.our-names {
  // color: white;
  color: #FFBFAD;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  width: 100%;
  font-size: 40px;
  margin-bottom: 3px;
}

.rsvp-button {
  color: white;
  display: inline-block;
  // font-family: 'Indie Flower', cursive;
  margin: 20px;
  padding: 10px;
  background: #FFA084;
  height: 50px;
  line-height: 35px;
  font-size: 20px;
  min-width: 200px;
  text-align: center;
  text-decoration: none !important;
}

.wed-date {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.wed-place {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

* { box-sizing: border-box; }
.video-background {
  background: #020e4a;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-blur {
  width: 100vw;
  height: 60vw;
  background: rgba(#3587B3, 0.6); // rgba(3,23,123,0.6);
  padding:30px 0px;
  position: absolute;
  z-index: 1;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vw;
  pointer-events: none;
  border: none;
}

.story-header, .rsvp-header, .h1-header {
  font-size: 35px;
  font-weight: bold;
  // text-shadow: 0px 0px 1px white;
  // color: #FFA084;
  color: #FFBFAD;
  // text-transform: capitalize;
  font-family: 'Indie Flower', cursive;
}

.story-step {
  position: relative;
  margin-top: 50px;
  .story-year {
    position: absolute;
    left: 0;
  }
  .story-avatar {
    position: absolute;
    left: 55px;
    top: -16px;
    img.avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 6px solid transparent;
      &.Bruno { border-color: lightgrey}
      &.Despoina { border-color: lightblue }
      &.Both { border-color: lightpink}
    }
  }
  .story-content {
    margin-left: 125px;
  }
}

.story-guess {
  margin-top: 60px;
  margin-bottom: 30px;
  button {
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    background: #FFA084;
    min-width: 100px;
    padding-top: 6px;
  }
  .more-to-go {
    margin-top: 30px;
    font-style: italic;
    color: #FFBFAD;
  }
}

.navbar {
  // background: #FF8561;
  // background: #FFCB41;
  background: #3587B3;
}

.shadow-on-hover:hover {
  box-shadow: 0px 0px 20px white;
  border-radius: 50%;
  cursor: pointer;
  filter: none;
}


@media (min-width: 768px) {
  .navbar-nav {
      margin: auto;
  }
  .lang1 {
    position: fixed !important;
    right: 100px;
  }
  .lang2 {
    position: fixed !important;
    right: 60px;
  }
  .lang3 {
    position: fixed !important;
    right: 20px;
  }

  ul.nav.navbar-nav {
    display: inline-block;
    margin: auto;
    float: none;
  }

  nav.collapse.navbar-collapse.bs-navbar-collapse {
    text-align: center;
  }

  .navbar-inverse {
    border: none;
  }

  .navbar-inverse .navbar-nav>li>a {
    color: lightblue;
    padding-top: 15px;
    padding-bottom: 7px;
  }

  // .navbar-inverse .navbar-nav>li>a:hover {
  //   font-family: 'Indie Flower';
  //   font-weight: bold;
  //   font-size: 140%;
  // }
}

.navbar-inverse .navbar-nav>li>a {
  color: #DEF2FD;
  text-shadow: none;
  font-size: 19px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover,  {
  color: white;
}
